@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is Fifth Commit</a>.</p>
    <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Asanga Manpitiya</td>
    <td>Chathura Dolahamuna</td>
    <td>Denmark</td>
  </tr>
  <tr>
    <td>Chathura Dolahamuna</td>
    <td>Dharshika Dolahamuna</td>
    <td>Denmark</td>
  </tr>
</table>

</div>
